body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
}

a {
  text-decoration: none;
}
/* Строка с логотипом и пользовательским меню*/
.main-header {
  background-color: #f4f7f9
}

.main-header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449; 
}

.main-header-logo img {
  padding: 13px 55px 11px 55px;

  background-color: #ee3643;

  border-bottom-width: 5px;
  border-bottom-color: #b52933;
  border-bottom-style: solid;
}

.main-header-logo img:hover {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.main-header-logo img:active {
  background-color: #ba2732;
  border-bottom-color: #8e1e26;
}

.services-navigation {
  list-style: none;
}

.services-navigation a {
  color: #ffffff;
}

.about-site {
  font-size: 16px;
  line-height: 23px;

  color: #ee3643;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;

  color: #ee3643;

  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
}

.header-address {
  color: #32425c;
}

/* Пользовательское меню */
.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;

  color: #000000;
  background-color: #ffffff;
}

.user-navigation .my-order,
.user-navigation .personal-account {
  font-size: 16px;
}

.login:hover,
.registration:hover,
.my-order:hover,
.personal-account:hover {
  color: #ee3643;
}

.login:active,
.registration:active,
.profile:active,
.my-order:active,
.personal-account:active {
  color: rgba(0, 0, 0, 0.30);
}

.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart.inner-page {
  background-color: #ee3643;
}

.order {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.51);
  background-color:#518534;
}

/* Основное меню навигации */
.main-navigation {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;

  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color:#293449;
}

.main-navigation-list {
  list-style: none;
}

.main-navigation-list a {
  color: #ffffff;
}

.main-navigation-list a:hover {
  background-color: #212a3a;
}

.main-navigation-list a:active {
  background-color: #161d29;
}

/* Наши предложения */

.offer-item,
.offer-item .button {
  color: #ffffff;
}
.offer-item .button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.offer-item .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-item .button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offer-item p {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.materials {
  background-color: #ffbf47;
}

.instrument {
  background-color: #3bbce3;
}

.vehicles {
  background-color: #dc91d8;
}

.sales {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

/* Горячие предложения. Слайдер */
.offers-slider-list {
  background-color: rgba(0, 0, 0, 0.25);
}

.offers-slider-item,
.offers-slider-item .catalog {
  color: #ffffff;
}

.offers-slider-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.offers-slider-item p {
  font-size: 18px;
  line-height: 24px;
}

.offers-slider-item .catalog {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.offers-slider-item .catalog:hover {
  background-color: #ca2c37;
}

.offers-slider-item .catalog:active {
  background-color: #ba2732;
}

/* Популярные товары */
.popular-products-heading-bar {
  background-color: #f9f5f0;
}

.popular-products-heading-bar h2 {
  text-transform: uppercase;
  color: #32425c;
}

.popular-products-heading-bar .catalog {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-products-heading-bar .catalog:hover {
  background-color: #ca2c37;
}

.popular-products-heading-bar .catalog:active {
  background-color: #ba2732;
}

.popular-products-item h3 {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price,
.new-price {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.new-price {
  color: #ffffff;
  background-color: #ee3643;
}

.button-buy,
.button-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button-buy {
  color: #ffffff;
  background-color: #63a63e;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #367315;
}

.button-buy:hover {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
  border-bottom-color: #518534;
}

.button-bookmark {
  color: #32425c;
  border-style: solid;
  border-width: 3px;
  border-color: #63a63e;
}

.button-bookmark:hover {
  border-color: #32425c;
}

.button-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}
