body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
}

a {
  text-decoration: none;
}
/*-----------------------------------------------------*/
/* ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ ССЫЛОК-КНОПОК                  */
/* Красная кнопка с белым текстом                      */
/* При необходмости. В коде стилизуется дополнительно  */
/*-----------------------------------------------------*/
.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}
/*-------- Конец общих стилей для кнопой ---------*/

/* Верхняя строка с логотипом, пользовательским меню и основным меню */
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7f9;
  margin-bottom: 60px;
}
/* Для страницы каталога переопределим нижный отступ */
.header-catalog-page {
  margin-bottom: 24px;
}

.main-header-top-wrapper {
  /* Тянущаяся обертка на всю ширину */
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  background-color: #293449;
  margin-bottom: 45px;
}

.container {
  /* Общие свойства контейнера */
  width: 940px;
  margin: 0 auto;
  /*padding: 0 10px;*/ /* Нужно ли? */
}

.main-header-top {
  display: flex;
  margin: 0;
  justify-content: flex-start;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-header-logo img {
  padding: 13px 55px 11px 55px;

  background-color: #ee3643;

  border-bottom-width: 5px;
  border-bottom-color: #b52933;
  border-bottom-style: solid;
}

.main-header-logo img:hover {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.main-header-logo img:active {
  background-color: #ba2732;
  border-bottom-color: #8e1e26;
}

.services-navigation {
  /* Все управляющие элементы прижаты друг к другу */
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-navigation a {
  color: #ffffff;
}

/* Стилизуем плейсхолдер для инпута */
.services-navigation .search {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;  
  background-color: #293449;
  border: none;  

  outline: 0;
}

.services-navigation .search::placeholder { 
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}

.services-navigation .search:-ms-input-placeholder { 
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

.services-navigation .search::-ms-input-placeholder { 
  /* Microsoft Edge */
  color: #ffffff;
}

.services-navigation .search:hover {
  background-color: #212a3a;
}

.services-navigation .search:focus {
  /* Для поля ввода */
  color: #000000;
  background-color: #ffffff;
}

.services-navigation .search:focus::placeholder  {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

.services-navigation .search:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}

.services-navigation .search:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}

.main-contacts-reginfo {
  /* Средняя панель со слоганом, контактной информацией и регистрацией */
  display: flex;
  justify-content: flex-start;
  margin-bottom: 44px;
}

.about-site {
  width: 200px;
  margin-left: 52px;
  margin-right: 70px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  color: #ee3643;
}

.header-contacts {
  width: 264px;
  margin-right: 69px;
}

.header-phone {
  width: 264px;
  font-size: 21px;
  line-height: 21px;

  color: #ee3643;

  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
}

.header-address {
  width: 264px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

/* Пользовательское меню */
.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;

  color: #000000;
  background-color: #ffffff;
}

.user-navigation .my-order,
.user-navigation .personal-account {
  font-size: 16px;
}

.login:hover,
.registration:hover,
.my-order:hover,
.personal-account:hover {
  color: #ee3643;
}

.login:active,
.registration:active,
.profile:active,
.my-order:active,
.personal-account:active {
  color: rgba(0, 0, 0, 0.30);
}

.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart.inner-page {
  background-color: #ee3643;
}

.order {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.51);
  background-color:#518534;
}

/* Основное меню навигации */
.main-navigation {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;

  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color:#293449;

  margin-bottom: 60px;
}

.main-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.main-navigation-list a {
  color: #ffffff;
}

.main-navigation-list a:hover {
  background-color: #212a3a;
}

.main-navigation-list a:active {
  background-color: #161d29;
}

/* Наши предложения */
.offers {
  margin-bottom: 52px;
}

.offers-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.offer-item {
  width: 300px;
  height: 124px;
  margin-bottom: 20px;
  color: #ffffff;
}
.offer-item .button {
  background-color: rgba(0, 0, 0, 0.1);
}

.offer-item .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-item .button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offer-item p {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.offers-items .materials {
  background-color: #ffbf47;
}

.offers-items .instrument {
  background-color: #3bbce3;
}

.offers-items .vehicles {
  background-color: #dc91d8;
}

.offers-items .sales {
  background-color: #8ed78f;
}

.offers-items .delivery {
  background-color: #ffc047;
}

/* Горячие предложения. Слайдер */
.offers-slider-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.offers-slider-item {
  width: 620px;
  height: 266px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.25);
}

.offers-slider-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.offers-slider-item p {
  font-size: 18px;
  line-height: 24px;
}

.offers-slider-item .button.catalog {
  /*#ToDo Расположить и стилизовать кнопку "Открыть каталог"
          в разделе "Горячие предложения"*/
}

/* Популярные товары */

/* Не нужно делать, т.к. есть маргин снизу для отступа следующего ряда (на случай, если будет несколько рядов) 
.popular-products {
  margin-bottom: 20px;
}
*/
.popular-products-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Заголовочная плашка в популярных товарах и популярных производителях */
.popular-products-heading-bar,
.popular-manufacturers-heading-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-products-heading-bar h2,
.popular-manufacturers-heading-bar h2 {
  margin-left: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-products-heading-bar .catalog-button,
.popular-manufacturers-heading-bar .all-manufacturers {
  /*#ToDo Расположить и стилизовать кнопку "Все популярные товары" 
          в разделе "Популярные товары"
          и стилизовать кнопку "Все производители" 
          в разделе "Популярные производители"*/
  margin-right: 24px;
}

.popular-products-item {
  width: 218px;
  min-height: 314px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
}

.popular-products-item:nth-child(4n) {
  margin-right: 0;
}

.popular-products-item h3 {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price,
.new-price {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.new-price {
  color: #ffffff;
  background-color: #ee3643;
}

/* Переопределим стили для кнопок "Купить" и "В закладки"*/ 
.button.buy {
  background-color: #63a63e;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #367315;
}

.button.buy:hover {
  background-color: #5fbb2d;
}

.button.buy:active {
  background-color: #518534;
  border-bottom-color: #518534;
}

.button.bookmark {
  background-color: #ffffff;
  color: #32425c;
  border-style: solid;
  border-width: 3px;
  border-color: #63a63e;
}

.button.bookmark:hover {
  border-color: #32425c;
}

.button.bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}
/* Популярные производители */
.popular-manufacturers {
  /* Не 65px, т.е. есть нижний маргин у каждого элемента списка */
  margin-bottom: 45px;
}

.popular-manufacturers-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturers-item {
  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;

  border-style: solid;  
  border-width: 1px;
  border-color: #eaeaea;
}

.popular-manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

/* Сервисы */
.services-wrapper {
  width: 100%;
  min-height: 524px;
  background-color: #f4f8f9;
}

.services-breif-slogan {
  padding-top: 67px;
  margin-bottom: 74px;
}

.services-slider-content {
  display: flex;
}

.services-slider-button {
  margin-top: 0;
  margin-right: 80px;
  margin-bottom: 102px;
  margin-left: 0;
  padding: 0;
  list-style: none;
}

/* Если активный элемент списка, то фон белый */
.services-slider-button a {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
}

.services-slider-button .active {
  background-color: #ffffff;
  color: #32425c;
}

/* Кроме активного, для всех элементом меняем цвет при наведении */
.services-slider-button a:hover:not(.active) {
  background-color: #293449;
}

.services-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-slider h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.services-slider-item {
  width: 390px;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-credit .button.credit {
  /*#ToDo Расположить и стилизовать кнопку "Отправить заявку" 
          в разделе "Сервисы" - "Кредит"*/
}

 /* Кратко о компании */
.about-our-company {
  display: flex;
}

.about-us {
  width: 540px;
  margin-right: 100px;
}

.about-us h2 {
  font-size: 30px;
  line-height:30px;
  text-transform: uppercase;
}

.about-us p {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us .delivery-company {
  /* #ToDo Добавить маркеры в соответствии с макетом */
  font-size: 18px;
  line-height: 20px;
}

.about-us .button {
  /* #ToDo Стилизовать и расположить кнопку как надо */
}

/* Контакты и карта */
.contacts {
  width: 310px;
}

.contacts h2 {
  font-size: 30px;
  line-height:30px;
  text-transform: uppercase;
}

.contacts p {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.contacts .map {
  margin-left: 0;
}

/* Нижняя строка с логотипом и пользовательским меню*/
.footer-main {
  margin-top: 85px;
  /* Весь футер застелим фоном */
  background-color: #32425c;
}

.footer-main-catalog {
  /* Для страницы каталога маргин сверху нулевой */
  margin-top: 0;
}

.footer-bottom {
  /* Только нижнюю часть футора застелем другим фоном*/ 
  background-color: #293449; 
}

/* Верхняя часть футера */
.footer-top {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-navigation-lists {
  display: flex;
  flex-direction: column;
}

.footer-main-logo img {
  padding: 21px 42px 21px 42px;

  background-color: #ee3643;

  border-bottom-width: 5px;
  border-bottom-color: #b52933;
  border-bottom-style: solid;
}

.footer-main-logo img:hover {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.footer-main-logo img:active {
  background-color: #ba2732;
  border-bottom-color: #8e1e26;
}

.footer-navigation-main-list,
.footer-navigation-add-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-main-list {
  /* Отступ от начала меню до блока логотипа с адресом */
  margin-left:  50px;
}

.footer-navigation-add-list{
  /* Отступ от начала меню до блока логотипа с адресом */
  margin-left: 70px;
}

.footer-navigation-main-list a {
  color: #ffffff;
}

.footer-navigation-add-list a {
  color: #ffd180;
}

.footer-navigation-main-list a:hover,
.footer-navigation-add-list a:hover {
  text-decoration: underline;
}

.footer-navigation-main-list a:active {
  color: rgba(255, 255, 255, 0.5);
}

.footer-navigation-add-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-address,
.footer-phone {
  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
}

/* Нижняя часть футера */
.footer-bottom,
.footer-bottom a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom-content {
  display: flex;
}

.footer-copyright-technomart {
  width: 232px;
  margin-right: 160px;
}

.footer-bottom .footer-social {
  margin-right: 118px;
  list-style: none;
}

.footer-bottom .footer-callback {
  width: 140px;
  margin-right: 46px;
}

.footer-copyright-dev {
  width: 102px;
}

.footer-bottom .footer-email,
.footer-bottom .footer-copyright {
  color: #ffd180;
}

.footer-bottom .footer-email:hover,
.footer-bottom .footer-copyright:hover {
  text-decoration: underline;
}

.footer-bottom .footer-email:active,
.footer-bottom .footer-copyright:active {
  text-decoration-line: none;
  color: #ee3643;
}

/* Форма обратной связи*/
.write-us label {
  font-size: 18px;
  line-height: 18px;
}

.write-us input,
.write-us textarea {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #999999;

  border-style: solid;
  border-color: #d7dcde;
  border-width: 2px;

  outline: 0;
}

.write-us input:hover,
.write-us textarea:hover {
  border-color: #b5b5b5;
}

.write-us input:focus,
.write-us textarea:focus {
  border-color: #ee3643;
}

.footer-write-us {
  background-color: #f1f1f1;
}

/* Форма с информацией о добавлении товара в корзину */
.product-in-cart {
  font-size: 30px;
  line-height: 30px;
}

.product-in-cart-continue-buying {
  background-color: #ffffff;
  color: #000000;
}


.product-in-cart-continue-buying:hover,
.product-in-cart-continue-buying:active {
  /* не увидел правил как сделать наведение и клик, сделал как придумал */
  color: #ffffff;
}

.footer-product-in-cart {
  background-color: #f1f1f1;
}

/* Специфичные стили для страницы catalog.html */
.catalog {
  width: 700px;
}

.catalog-page {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* Хлебные крошки */
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

/* Заголовок страницы */
.catalog-page-title-bar {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  background-color: #f2f6f8;
}
.catalog-page-title {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

/* Фильтр */
.filters {
  width: 220px;
}

.catalog-page-filter-bar,
.catalog-page-sort-bar,
.filter-price-range,
.filter-price-input-from,
.filter-price-input-to {
  padding: 0;
  margin: 0;
  background-color: #f7f3ec;
}

.filter-price-input-from,
.filter-price-input-to {
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
}

.catalog-page-filter,
.catalog-page-sort {
  padding: 0;
  padding-left: 19px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.catalog-page-sort-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-page-sort-list a {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom-style: dotted; 
  border-bottom-width: 1px;
  border-bottom-color: #ee3643; 
}

.catalog-page-sort-list a:hover {
  color: #000000;

  border-bottom-style: solid; 
  border-bottom-width: 1px;
  border-bottom-color: #ee3643; 
}

.catalog .sort {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.sort-active a,
.sort-active a:hover {
  color: #ee3643;
  border: none;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-input:disabled + label{
  color: rgba(0, 0, 0, 0.4)
}

.filter-apply-button {
  /* Границы у фильтров убрали, поэтому пришлось сделать маргин топ от кнопки */
  margin-top: 75px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;

  outline: 0;
}

.filter-apply-button:hover {
  border-color: #bdc6ca;
}

.filter-apply-button:active {
  border-color: #ee3643;
}

/* Каталог товаров */
.catalog-page-list {
  text-transform: none;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 53px;
  list-style: none;
}

.product-item h3 {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.product-item {
  width: 218px;
  min-height: 314px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

/* Пагинатор */
.pagination-list {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.pagination-item a {
  color: #000000;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
}

.pagination-item a:hover {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

/* Кратко об инструментах (перфораторах) */
.breif-about-instruments-wrapper {
  width: 100%;
  min-height: 263px;
  background-color: #f4f8f9;
}

.breif-about-instruments {
  padding-top: 66px;
  padding-bottom: 40px;
}

.breif-about-instruments h2 {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.breif-about-instruments p {
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}
