.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
css/normalize2.css
img/logo-top_big.png
img/logo-top_1.png
img/logo-bottom_1.png
img/product-bosch-bfg-9000_old_small.jpg
img/product-bosch-bfg-9000_old.jpg
img/product-bosch-bfg-6000_old.jpg
